  <% if user_signed_in?%>
  
  <h1>Friend List</h1>

  <table class="table table-striped table-hover table-borderless">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Twitter</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend|%>
        <tr class="align-bottom">   
          <td>
          <%= link_to friend.first_name + ' ' +friend.last_name ,friend_path(friend)%> 
          </td>
          <td> <%= friend.phone %> </td>
          <td> <%= friend.email %> </td>
          <td> <%= friend.twitter %> </td>

          <%#destroy link_to button_to%>
          <td> <%= button_to "Delete",friend, method: :delete, class:"btn btn-outline-danger"%> </td>
        </tr> 
      <%end%>
    </tbody>
  </table>


  <%=link_to "New Friend",new_friend_path,class:"btn btn-secondary"%>

<% else%>
  <h1 style="color:green;">Orj Home Page</h1>
  <p>Find me in app/views/home/index.html.erb</p>
<% end%>
